<html>
<head>
    <title> KOP SURAT </title>
    <style type= "text/css">
    body {
        font-family: arial; background-color : #ccc
    }
    .rangkasurat {
        width : 980px;margin:0
        auto;background-color : #fff;height: 500px;padding: 20px;}
    table {
    border-bottom : 5px solid # 000; padding: 2px}
    .tengah {
    text-align : left;line-height: 5px;}
    </style>
</head>
<body>
<div class = "rangkasurat">
     <table width = "100%">
           <tr>
                 <td>
                <img src="https://akcdn.detik.net.id/community/media/visual/2023/07/27/tema-hut-ri-tahun-2023-beserta-logo-peringatannya-1_169.jpeg?w=700&q=90" width="140px"> </td>
                 <td class = "tengah">
                       <h2>KWITANSI PEMBAYARAN</h2>
                 </td>
            </tr>
     </table > <br> <br><br>
     <table>
            <tr>
                <td style="width: 30%;">Sudah Terima Dari</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;">{{ $leave->employees->name }}</td>
            </tr>
            <tr>
                <td style="width: 30%;">Uang Sejumlah</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;">{{ $leave->designations->name }}</td>
            </tr>
            <tr>
                <td style="width: 30%;">Untuk</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;">{{ $leave->leave_reason }}</td>
            </tr>
        </table>
         <br>
         <br>
         <br>
         <br>

             <table>
            <tr>
                <td style="width: 30%;"><h2>34324324</h2></td>
            </tr>
        </table>
        <br>
        <br>
        <div style="width: 30%; text-align: left; float: right;"> Disetujui,</div><br><br><br><br><br>
        <div style="width: 30%; text-align: left; float: right;"><ins>(T . Dony Budi Dharma)</ins></div>
</div>
</body>
</html>
